@import '../../index.scss';

.search-panel {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.search-panel__sort-btn {
    height: 100%;
    background-color: $btn-back-color;
    border-radius: 8px;
    border:none;
    margin-left: 15px;
}
.search-panel__input {
    height: 100%;
    border-radius: 8px;
    padding: 0 10px;
}